@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

:root {
    --primary: #00FFFF;
    --secondary: #0059FF;
    --success: #FFB800;
    --light: #F8F9FA;
    --dark: #000;
    --dark_sec: #424242;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark);
    color: var(--light);
    line-height: 2rem;
}
header{
    box-shadow: 0px 3px 10px 0px var(--primary);
    margin-top: 4.3rem;
}
nav{
    background-color: var(--dark_sec);
    border-bottom: 1px solid var(--primary);
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 100;
    top: 0;
}
nav a{
    width: 6rem;
    text-align: center;
    --clippy: polygon(0% 0, 0 0, 0 100%, 0% 100%);
}
nav a::after{
    margin-top: -1.2rem;
    content: "";
    display: block;
    background-color: var(--primary);
    border-radius: 3px;
    width: 100%;
    margin-top: 3px auto 0 auto;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}
nav a:hover{
    filter: drop-shadow(1px 1px 1px var(--primary));
    --clippy: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
header img{
    display: block;
}
h2{
    margin: 2rem 0;
    text-align: center;
    font-size: 2.7rem;
    background-clip: text;
    font-weight: 800;
    background: linear-gradient(133deg,
        rgba(0, 255, 255, 1) 0%,
        rgba(1, 93, 144, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.propuesta{
    color: var(--primary);
    width: 70%;
    text-align: justify;
    margin: 4rem auto;
}
.propuesta p span{
    margin-left: 3rem;
}
.aboutUs{
    width: 90%;
    text-align: justify;
    margin: 4rem auto;
    padding: 4rem 7rem;
    background-color: var(--dark_sec);
}
.contenedor_logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.contenedor_logo p{
    margin-left: 2rem;
}

.wireframe{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.container_wf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
    margin: 0 auto;
    width: 100%;
    padding: 3rem 0;
    background-color: var(--dark_sec);
}
.container_wf img{
    width: 40%;
}

.flex__container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 85%;
}

.modal__card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 100%;
    min-height: 350px;
    color: #f1f1f1;
    padding: 2.5em;
    font-size: .9em;
    gap: 1em;
}

.model__avatar{
    display: flex;
    width: 250px;
    height: 400px;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.avatar{
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.avatar >img{
    width: 100%;
    object-fit: cover;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.card__btn{
    display: grid;
    place-items: center;
    width: 100px;
    height: 30px;
    border-radius: 1em;
    color: var(--dark);
    background: linear-gradient(133deg, rgba(255, 222, 0, 1) 0%, rgba(218, 142, 0, 1) 100%);

}
.bg-sec{
    background-color: var(--dark_sec);
}

.reversed{
    flex-direction: row-reverse;
}
.contenedor_detalles{
    background-color: var(--dark_sec);
    margin: 3rem 0;
    text-align: justify;
    padding: 4rem;
    display: flex;
    gap: 2rem;
}
strong{
    color: var(--primary);
}
iframe{
    width: 700px;
    height: 90vh;
    margin-top: 2rem;
}
section{
    padding: 3rem 0;
}
.container_cotizacion{
    position: relative;
    margin: 0 auto;
}
.container_cotizacion button{
    position: absolute;
    font-size: 1.3rem;
    bottom: 50px;
    right: 230px;
    border: none;
    padding: .5rem;
    border-radius: 10px;
    background: linear-gradient(133deg, rgba(255, 222, 0, 1) 0%, rgba(218, 142, 0, 1) 100%);
}
.container_cotizacion button:hover{
    cursor: pointer;
}

/*
degradadado azul

background: rgb(0,255,255);
background: linear-gradient(133deg, rgba(0,255,255,1) 0%, rgba(1,93,144,1) 100%);

Degradado naranja

background: rgb(255,222,0);
background: linear-gradient(133deg, rgba(255,222,0,1) 0%, rgba(218,142,0,1) 100%);*/